body {
  background-image: url('./components/images/background5.webp');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Mulish', sans-serif;
}

#content > h1 {
  color: white;
  font-size: 64px;
  font-weight: 900;
  padding-top: 5%;
}

.App {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
}

span {
  color: #FCE205;
}

#content {
  padding-left: 3%;
  padding-right: 3%;
}